* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background: #F9F9F9;
    margin: auto;
}

.container {
    max-width: 1380px;
    height: 100%;
    margin: 0 auto;
}